<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/grupo2/tela2.css') }}">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-cima">
            <div class="esquerda">
                <div class="esquerda-esq">
                    <div class="retangulo"></div>
                </div>
                <div class="direita-esq">
                    <div class="retangulo"></div>
                    <div class="retangulo"></div>
                    <div class="retangulo"></div>
                    <div class="retangulo"></div>
                    <div class="retangulo"></div>
                </div>
            </div>
            <div class="direita">
                <div class="cima"></div>
                <div class="baixo"></div>
            </div>
        </div>

        <div class="container-meio">
            <div class="esquerda">
                <div class="circulo"></div>
                <div class="circulo"></div>
            </div>
            <div class="direita">
                <div class="bola"></div>
            </div>
        </div>

        <div class="container-baixo">
            <div class="cima">
                <div class="retangulo-vermelho"></div>
                <div class="retangulo-vermelho"></div>
            </div>
            <div class="baixo">
                <div class="retangulo-vermelho"></div>
                <div class="retangulo-azul"></div>
                <div class="retangulo-vermelho"></div>
            </div>
        </div>
    </main>
</body>

</html>