<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/grupo1/tela1.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container-cima">
            <div class="esquerda"></div>
            <div class="meio">
                <div class="retangulo"></div>
            </div>
            <div class="direita">
                <div class="cima"></div>
                <div class="baixo"></div>
            </div>
        </div>
            
        <div class="container-meio">
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>
        </div>


        <div class="container-baixo">
            <div class="esquerda">
                <div class="retangulo"></div>
                <div class="retangulo"></div>
            </div>
            <div class="direita">
                <div class="retangulo"></div>
                <div class="retangulo"></div>
            </div>
        </div>
    </main>
</body>
</html>